*/.terraform/*
*.tfstate
*.tfstate.*
*.exe
*.terraform.lock.hcl
LICENSE
README.md
modules.json

terraform/production/terraform.tfstate
terraform/production/terraform.tfstate.backup
terraform/production/.terraform/providers/registry.terraform.io/telmate/proxmox/3.0.1-rc8/windows_amd64/LICENSE
terraform/production/.terraform/providers/registry.terraform.io/telmate/proxmox/3.0.1-rc8/windows_amd64/README.md
