global
    maxconn 50000
    log /dev/log local0
    user haproxy
    group haproxy
    stats socket /run/haproxy/admin.sock user haproxy group haproxy mode 660 level admin
    ssl-default-bind-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    timeout client 30s
    timeout connect 10s
    timeout server 30s
    log global
    mode http
    option httplog
    maxconn 5000

frontend stats
    mode http
    bind *:8505
    stats enable
    stats refresh 10s
    stats uri /stats
    stats show-modules

frontend prometheus
    mode http
    bind *:8405
    http-request use-service prometheus-exporter
    no log

frontend mealplannerapi
    bind *:80
    bind *:443

    # Static assets (served by web server)
    acl is_static path_end -i .html .css .js .png .jpg .jpeg .gif .ico .svg .woff .woff2 .txt
    acl is_root path -i /

    # if root URL is hit, set the path to index.html
    http-request set-path /index.html if is_root

    # use frontend mealplanner service if it's a file resource or the root URL.
    use_backend web_servers if is_root
    use_backend web_servers if is_static

    # use api server for everything else, such as /api, /me, /login etc.
    default_backend api_servers

backend api_servers
    balance roundrobin

    default-server check maxconn 20
    {% for host in groups.web_servers %}
    server {{ host }} {{ host }}:8080
    {% endfor %}

backend web_servers
    balance roundrobin
    option httpchk GET /index.html
    
    default-server check maxconn 2000
    {% for host in groups.web_servers %}
    server {{ host }} {{ host }}:8090
    {% endfor %}
